<html>
	<head>
		<title><%= title %></title>
		<style type="text/css">
			#mainDiv {
			  position: fixed;
			  top: 40%;
			  left: 20%;
			}
		</style>
	</head>
	<body>
	  <div id="mainDiv" class="mainLabel">
		<h2><%= message %></h2>
	  </div>
	</body>
</html>
