<html>
	<head>
	    <script src="/resources/js/min/jquery.min.js"></script>
	    <!--<link rel="stylesheet" href="/resources/css/app.css" type="text/css"></link>
	    <link rel="stylesheet" href="/resources/css/grid.css" type="text/css"></link> -->
	    <link rel="stylesheet" href="/resources/all1.min.css" type="text/css"></link>
		<style>
		</style>
		{{headContents}}
	</head>
	<body>
		{{bodyContents}}			
		<div id="footer" class="footerDiv mainLabel">			
			<span class="footerItem rounded-corners-top">
				<a href="/">Home</a>
			</span>
			<span class="footerItem rounded-corners-top">
				<a href="/about">About</a>
			</span>
			<span class="footerItem rounded-corners-top">
				<a href="/api">API</a>
			</span>
			<span class="footerItem rounded-corners-top">
				<a href="/privacy">Privacy</a>
			</span>
		</div>
		<div id="betaBanner" class="beta rounded-corners-top rounded-corners-bottom">
			<ul>
				<li>SL</li>
				<li>B</li>
				<li>E</li>
				<li>T</li>
				<li>A</li>
			</ul>
		</div>
	</body>
</html>	
