<html>
	<head>			
	    <script src="/resources/js/jquery.min.js"></script>
	    <link rel="stylesheet" href="/resources/css/app.css" type="text/css"></link>
		{{headContents}}
	</head>
	<body>
		{{bodyContents}}
	</body>
</html>	