body{
	min-width:800px;
	width: auto !important; 
	width:100px;
	min-height: 550px; 
	height:auto !important;
	height: 600px;
	font-family: "Comic Sans MS", cursive	
}

#leftSec{
	padding-top: 1%;
	height: 95%;
	border-right:1px solid grey;
	text-align: center;	
}

#rightSec{
	height: 95%;
	border: 2px;
	text-align: left;
}

.subLabel{
	font-size:50%;
	color: #2C3829;
}

.mainLabel{
	color: #3A8525;
}

.mainTxtArea{
	border: 1px solid #cccccc;
	color: #666;
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px;				
	border-radius: 8px;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	box-shadow: 0 0 4px rgba(44, 156, 10, 0);
	-webkit-box-shadow: 0 0 4px rgba(44, 156, 10, 0);
	-moz-box-shadow: 0 0 4px rgba(44, 156, 10, 0);
}

.mainTxtArea:focus{
	color:#000;
	outline:none;
	border:#2CA60A 1px solid;
	box-shadow: 0 0 4px rgba(44, 156, 10, 1);
	-webkit-box-shadow: 0 0 4px rgba(44, 156, 10, 1);
	-moz-box-shadow: 0 0 4px rgba(44, 156, 10, 1);
}

.inputTransition{
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	box-shadow: 0 0 4px rgba(44, 156, 10, 0);
	-webkit-box-shadow: 0 0 4px rgba(44, 156, 10, 0);
	-moz-box-shadow: 0 0 4px rgba(44, 156, 10, 0);
}

.inputTransition:focus{
	box-shadow: 0 0 4px rgba(44, 156, 10, 1);
	-webkit-box-shadow: 0 0 4px rgba(44, 156, 10, 1);
	-moz-box-shadow: 0 0 4px rgba(44, 156, 10, 1);
}

.mainTxt{
	border: 1px solid #cccccc;
	color: #666;
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px;				
	border-radius: 2px;				
	width: 35%;				
	height: 25px;
}

.mainTxt:focus{
	color:#000;
	outline:none;
	border:#2CA60A 1px solid;
}

.spacerTop{
	padding-top:10px;
}

.mainBtn{
	background:#2CA60A;
	background:-moz-linear-gradient(top,#2CA60A 0%,#4AA400 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#2CA60A),color-stop(100%,#4AA400));
	background:-webkit-linear-gradient(top,#2CA60A 0%,#4AA400 100%);
	background:-o-linear-gradient(top,#2CA60A 0%,#4AA400 100%);
	background:-ms-linear-gradient(top,#2CA60A 0%,#4AA400 100%);
	background:linear-gradient(top,#2CA60A 0%,#4AA400 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2CA60A',endColorstr='#4AA400',GradientType=0);
	padding:8px 12px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #2CA60A;
	cursor:pointer;
}

#mainLeftSec{
	padding-left: 15%;
}

.sideLinksBottom, .sideLinksTop{
	background: #cdeb8e; /* Old browsers */
	background: -moz-linear-gradient(top,  #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cdeb8e 0%,#a5c956 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
	text-align: center;
	vertical-align: middle;
	height: 10%;
	color: black;
	line-height: 200%;	
	border:1px solid #E0FFE0;
	white-space: nowrap;
}
.sideLinksTop{
	height: 19%;
}

.sideLinksBottom A:link, .sideLinksTop A:link {text-decoration: none; color: black; position:relative; top:25%;}
.sideLinksBottom A:visited, .sideLinksTop A:visited {text-decoration: none; color: black;}
.sideLinksBottom A:active, .sideLinksTop A:active {text-decoration: none}
.sideLinksBottom A:hover, .sideLinksTop A:hover {font-size:110%; font-weight:bold; color: #2CA60A;}

.mainBtnAlt1{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;

	-moz-box-shadow:0px 0px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 0px 2px rgba(0,0,0,0.4);
	
	color:rgba(0,0,0,0.9);
	text-shadow:1px 1px 0px rgba(255,255,255,0.8);
	border:1px solid rgba(0,0,0,0.5);
	
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
	background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
	
	padding:5px 5px 5px 5px;
	cursor:pointer;
}

.mainBtnAlt1:hover {
	background:rgba(240,240,240,1);
}

.mainBtnAlt1:active, .mainBtnAlt1:focus {
	background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
	background:-moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(185,185,185,1));
}

.mainBtnAlt1:disabled {
	color:rgba(0,0,0,0.4);
	text-shadow:1px 1px 0px rgba(255,255,255,0.5);
	background:rgba(220,220,220,1);
}
.countTrendingDiv{
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	color:#333;
	background-color:#FA2;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:none;
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-size:12px;
	font-weight:700;
	height:1%;
	padding:4px 16px;
	text-shadow:#FE6 0 1px 0
}
#visual{	
	text-align: center;
	width: 98%;				
}

#tagCloudUl{
	margin:1em 0;
	padding:.5em .5em .5em .5em;
	text-align:center;	
	background: #ffd65e; /* Old browsers */
	background: -moz-linear-gradient(top, #ffd65e 0%, #febf04 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd65e), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffd65e 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffd65e 0%,#febf04 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffd65e 0%,#febf04 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffd65e 0%,#febf04 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); /* IE6-9 */			
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;				
	border-radius: 5px;				
}

.hrefTrending{
	padding-left: 1%;
}

#tagCloudUl li{
	margin:0;
	padding:0;
	list-style:none;
	display:inline;				
}			
#tagCloudUl li a:hover{
	font-weight:bold;
	color: green;
}
#tagCloudUl li a:link{
	text-decoration:none;				
	padding:0 2px;
	color:black;
}
#tagCloudUl li a:visited{
	color:black;
}

#osChartDiv{				
	height:35%;
}

#browserChartDiv{				
	height:35%;
}
.spanUseSuggest{
	padding-left: 2%;
}
.subLabel{
	color: #3A8525;
	font-size: 80%;
}
.spanUseSuggest label {
	display: inline;
}
.regular-checkbox {
	display: none;
}
.regular-checkbox + label{
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	top: 5px;
}
.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.regular-checkbox:checked + label {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #10880E;
}
.container_16{
	height: 98%;
}
