<html>
	<head>
		<title>Semantic Links</title>		
<!--		<script type="text/javascript" src="/resources/js/min/jquery.validationEngine.min.js"></script>
		<script type="text/javascript" src="/resources/js/min/jquery.validationEngine-en.min.js"></script>		
		<script type="text/javascript" src="/resources/js/min/jquery.autocomplete.min.js"></script>		
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/resources/js/min/jquery.tagCloudGenerator.min.js"></script>
		<script language="javascript" type="text/javascript" src="/resources/js/min/jquery.jqplot.min.js"></script>
		<script language="javascript" type="text/javascript" src="/resources/js/min/jqplot.categoryAxisRenderer.min.js"></script>
		<script language="javascript" type="text/javascript" src="/resources/js/min/jqplot.barRenderer.min.js"></script>
		<script language="javascript" type="text/javascript" src="/resources/js/min/jqplot.pieRenderer.min.js"></script>
		<script language="javascript" type="text/javascript" src="/resources/js/min/jquery.fontVary.min.js"></script> -->
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script language="javascript" type="text/javascript" src="/resources/all.min.js"></script>
		<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/resources/js/min/excanvas.min.js"></script><![endif]-->
		
		<!--<link rel="stylesheet" href="/resources/css/validationEngine.jquery.css" type="text/css"></link>		
		<link rel="stylesheet" type="text/css" href="/resources/css/jquery.jqplot.css" /> -->
		<link rel="stylesheet" type="text/css" href="/resources/all2.min.css" />
		
		<style type="text/css">
			.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
			.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
			.autocomplete-selected { background: #F0F0F0; }
			.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
		</style>
		<script type="text/javascript">
			var osPlot, browserPlot;			
			function getFullPath(suffix){
				return window.location.protocol + "//" + window.location.host + '/' + suffix;
			}
			
			function hrefResize(elem){
				$(elem).each(function(index, elem){												
					$($(elem).parent()).textFontAdjust(elem, {maxFontPerc: 80, additionalWidthToDecrease: 60});
				});
			}
			
			function chartResize(plot){
				if(plot){
					plot.replot( { resetAxes: true } );				
				}
			}
			
			function resizeBinds(){				
				$(window).resize(function(){
					hrefResize('.hrefTrending');
					hrefResize('.hrefRT');
					chartResize(osPlot);
					chartResize(browserPlot)
				});
			}
			
			$(document).ready(function(){				
			   var linkLineHeight = window.innerHeight * window.innerWidth * 0.0000025;			   
			   function formatTrendingSection(){
					$('.sideLinksTop').css({'line-height': 1.5});
					$('.hrefTrending').each(function(index, elem){
						var fullPath=getFullPath($(elem).text());
						$(elem).attr({href: fullPath});
					});
			   }
			   resizeBinds();
			   doTagCloudPost();
			   formatTrendingSection();
			   
			   $("#divForValidation").validationEngine();
			   $("#txtAreaTags").autocomplete({
					serviceUrl: '/suggestTags',
					delimiter: ","					
				});
				var socket = io.connect();							  
				socket.on('link', function(data){
				    var fullPath=getFullPath(data.newLink);
				    if($("#rightSecBottom").children().length >= 5){
				    	$("#rightSecBottom .sideLinksBottom").filter(":last").fadeOut(500, function() { $(this).remove(); });
				    }				    				    
					$('<div class="sideLinksBottom" style="display: none;"></div>').append(
						$('<a class="hrefRT"></a>').attr({href: fullPath}).text(data.newLink)
					).prependTo("#rightSecBottom").slideDown(1000, function(){hrefResize('.hrefRT');}).css({'line-height': linkLineHeight});					
				});
				hrefResize('.hrefTrending');				
				plotOsChart();
				plotBrowserChart();
			});
			function alternateLink(){
				if($("#divForValidation").validationEngine('validate')){
					doAjaxPost();
				}				
			}
			
			function doTagCloudPost(){
				$.post("/tagCloud", function(data){
					$('#tagCloudDiv').generateTagCloud(data, {baseFontSizePerc: 60});
				}).error(function() { 
					alert('Error getting tags cloud');
				});
			}
			
			function doAjaxPost(){
				var linkTags =  $('#txtAreaTags').val();
				var realLink = $('#txtRealLink').val();
				var specialGenerate = $('#chkBxUseSuggest').is(':checked');
				$('#btnNewLink').text('Generating Something Better..');
				$.post("/generate", { tags: linkTags, link : realLink, useSuggest: specialGenerate}, function(data){
					$('#btnNewLink').toggle();
					$('.spanUseSuggest').toggle();
					var fullPath=window.location.protocol + "//" + window.location.host + '/' + data;
					$('#hrefBetter').text(fullPath).attr({href: fullPath});					
					$('#hrefBetterLinkDiv').toggle();
				}).error(function() { 
					$('#btnNewLink').text('Some error occured. Please try later.')
				});
			}
			
			function resetForm(){
				$('.spanUseSuggest').toggle();
				$('#hrefBetterLinkDiv').toggle();
				$('#btnNewLink').toggle();
				$('#hrefBetter').text('').attr({href: '#'});
				$('#txtAreaTags').val('');
				$('#txtRealLink').val('');
			}
			
			function plotOsChart(){
				$.post("/uaSummaryOS", function(data){
					if(data){
						$('#osChartDiv').show();
						var plotData = data;
						var maxVal = Math.max.apply(null, plotData['osCount'])
						plotData['osCount'].forEach(function(element, index, array){
							array[index] = element/maxVal * 100;
						});
						osPlot = $.jqplot('osChartDiv',  [plotData['osCount']],{
					        seriesDefaults:{
					            renderer:$.jqplot.BarRenderer,
					            rendererOptions: {varyBarColor: true, fillToZero: true}
					        },				        
					        legend: {
					            show: false,
					            placement: 'insideGrid'
					        },
					        axes: {
					            xaxis: {
					                renderer: $.jqplot.CategoryAxisRenderer,
					                ticks: plotData['osArray']
					            },
					            yaxis: {
					                pad: 1.05,
					                tickOptions: {formatString: '%.1f \%'}
					            }
					        },
					        title: {
						        text: 'Operating System',
						        show: true,
						    },
					        seriesColors: ["#DBA400", "#A4DB00", "#FFC61A", "#1A53FF", "#00A4DB", "#A400DB"]
						});
					}
				}).error(function() { 
					alert('Error getting os stats');
				});
								
			}
			
			function plotBrowserChart(){
				$.post("/uaSummaryBrowser", function(data){					
					if(data){
						$('#browserChartDiv').show();
						browserPlot = $.jqplot('browserChartDiv',  [data], {
							seriesDefaults: {				        
						        renderer: jQuery.jqplot.PieRenderer,
						        rendererOptions: {				          
						          showDataLabels: true
						        }					        
					      	},
					      	legend: { show:true, location: 'e', rendererOptions: {numberColumns: 1} },
					      	title: {
						        text: 'Browsers',
						        show: true,
						    },
					      	seriesColors: ["#DBA400", "#A4DB00", "#FFC61A", "#1A53FF", "#00A4DB", "#A400DB"]
						});
					}					
				}).error(function() { 
					alert('Error getting browser stats');
				});
			}
			
			<% function generateTrendingLink(link) { %>
	    		<div class="sideLinksTop">
	    			<a class="hrefTrending" href=<%=link.betterLink %>><%=link.betterLink %></a>
	    			<span class="countTrendingDiv">
	    				<%=link.hitCount %>
	    			</span>
	    		</div>
			<% } %>
		</script>
		<style>
			
		</style>
	</head>
	<body>
		<div class="container_16">							
			<div id="leftSec" class="grid_12">
			  <div id="visual" class="grid_12 alpha">
				  <div id="tagCloudDiv">
					  
				  </div>
			  </div>
			  <div id="mainLeftSec" class="grid_12">
			   <div id="divForValidation" class="validationEngineContainer">
				 <div class="mainLabel">Tags </div><div class="subLabel">(Separated by comma)</div>
				 <textarea rows="4" cols="50" class="mainTxtArea" name="q" autocomplete="off" id="txtAreaTags"></textarea>			
				
				 <div class="mainLabel spacerTop">The Real Link</div>
				 <input type="text" class="mainTxt inputTransition validate[required,custom[url]]" id="txtRealLink" onfocus="$(this).validationEngine('hide');"/>
				 <div class="spacerTop" id="mainBtnDiv">
					<button class="mainBtn" onclick="alternateLink();" id="btnNewLink">Give me the Better Link!</button>
					<span class="spanUseSuggest">						
						<input type="checkbox" id="chkBxUseSuggest" class="regular-checkbox mainLabel"/>
						<label for="chkBxUseSuggest"></label>
						<label class="subLabel">Do something much better?</label>
					</span>
					<div class="spacerTop" id="hrefBetterLinkDiv" style="display:none;">
						<a href="#" class="mainBtn" id="hrefBetter"></a>
						<button class="mainBtnAlt1" onclick="resetForm();" id="btnOneMore">One More!!</button>
					</div>			 	
				 </div>
			   </div>
			  </div>
			  <div id="spacer" class="grid_12" style="height: 8%;"></div>			  
			  <div id="osChartDiv" style="display:none;" class="grid_8"></div>
			  <div id="browserChartDiv" style="display:none;" class="grid_8 omega"></div>
			</div>
			
			<div id="rightSec" class="grid_4">
				<div id="rightSecTopHeader" class="mainLabel" style="text-align: center;">
					Trending
				</div>
				<div id="rightSecTop" style="height: 50%">		    	
					<% if(trending.length>0)trending.map(generateTrendingLink)%>
				</div>
				<div id="rightSecBottomHeader" class="mainLabel" style="text-align: center;">
					Real Time
				</div>		    
				<div id="rightSecBottom">
				</div>
			</div>
		</div>	
	</body>
</html>
