<html>
	<head>
		<style>
		</style>
	</head>
	<body>
		<div class="container_16">
			<div id="aboutContents" class="grid_15 staticContents">
				<h2 class="mainLabel">Privacy</h2>
				<hr class="headerSeparater"/>
				<span>
					This application does not collect any personal information (name, email, phone number etc.). It does use your IP address
					to collect the statistics related to link access demographics at State or Country level. But, the ip address is never stored
					and persisted in the application. 
				</span>
			</div>
		</div>
	</body>
</html>
